<div class="collapse navbar-collapse" id="navmenu">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a href="/faculty/courses" class="nav-link">Manage Courses</a>
        </li>
        <li class="nav-item">
            <a href="/faculty/faculty" class="nav-link">Manage Faculty</a>
        </li>
        <li class="nav-item">
            <a href="/faculty/students" class="nav-link">Manage Students</a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Logout</a>
        </li>
    </ul>
</div>