<html lang="en">
  <%- include('./partials/head.ejs') %>
  <style>
    body {
      background-color: #121212;
      color: #fff;
    }
  </style>
  <body>
    <%- include('./partials/nav.ejs') %>

    <code class="text-center py-5 mt-5 lead"
      >&lt;!-- Insert Content Here --&gt;</code
    >

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
