html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
main {
  flex: 1;
}
footer {
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 1rem;
}
